//import de Bootstrap Icons
@import url("/node_modules/bootstrap-icons/font/bootstrap-icons.css");
@import 'custom';


// Pour mettre le footer en absolute pour reste en bas de page
html{
    position: relative;
    min-height: 100%;
}
// marge bottom au main pour pas que ça passe derrière le footer
main{
    margin-bottom: 265px;
}

//police d'écriture
p{
    font-family: $font-family-sans-serif;
    font-size: 16px;
}

p .small{
    font-size: 13px;
}

h1, 
h2, 
h3, 
h4, 
h4, 
h6{
    font-family: $font-family-serif;
    font-weight: lighter;
    letter-spacing: 2px;
}

h1{
    font-size: 80px;
}





// HEADER
.navbar img{
    width: 150px;
}

//FOOTER
footer.footer{
    padding: 15px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer i{
    font-size: 20px;
    margin: 3% 4%;
    cursor: pointer;
}

footer i:hover{
    color: $primary;
}


// HERO SCENE
.hero-scene{
    background-image: linear-gradient(rgba(4, 9, 30, 0.3), rgba(4, 9, 30, 0.3)), url(/Media/oeil-crocodil.jpg);
    background-position: center;
    background-size: cover;
}

.hero-scene-content{
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero-scene-content h1{
    opacity: 0.6;
}

