//import de Bootstrap Icons
@import url("/node_modules/bootstrap-icons/font/bootstrap-icons.css");
@import 'custom';


// Pour mettre le footer en absolute pour reste en bas de page
html{
    position: relative;
    min-height: 100%;
    padding: 0;
    margin: 0;
}
// marge bottom au main pour pas que ça passe derrière le footer
main{
    margin-bottom: 265px;
}

//police d'écriture
p{
    font-family: $font-family-sans-serif;
    font-size: 16px;
}

p .small{
    font-size: 13px;
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6{
    font-family: $font-family-serif;
    font-weight: lighter;
    letter-spacing: 2px;
}

h1{
    font-size: 80px;
}

h4{
    font-size: 42px;
    color: $success;
}

h5{
    font-size: 32px;
}




// BOUTONS
.btn-lien-animaux,
.btn-avis
.btn-carte-resto{
    padding: 10px 30px;
    border-radius: 30px;
}

.btn a{
    color: #fff;
    text-decoration: none;
    font-size: 13.5px;
    font-weight: 300;
}

.btn-form{
    border-radius: 30px;
    color: #fff;
    width: 100%;
}
.btn-form:hover{
    color: #fff;
}

.btn-carte-resto{
    background: #fff;
    color: #484C19;
    border-radius: 30px;
}

.btn-carte-resto:hover{
    background: #fff;
    color: #C6732E;
}




// HEADER
.navbar img{
    width: 150px;
}

//FOOTER
footer.footer{
    padding: 15px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer i{
    font-size: 20px;
    margin: 3% 4%;
    cursor: pointer;
}

footer i:hover{
    color: $primary;
}


// HERO SCENE ACCUEIL
.hero-scene{
    background-image: linear-gradient(rgba(4, 9, 30, 0.3), rgba(4, 9, 30, 0.3)), url(/Media/oeil-crocodil.jpg);
    background-position: center;
    background-size: cover;
}
.hero-scene-content{
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

// HERO SCENE AUTRE PAGE
.hero-scene-autre{
    background-image: linear-gradient(rgba(4, 9, 30, 0.3), rgba(4, 9, 30, 0.3)), url(/Media/renard-roux.jpg);
    background-position: center;
    background-size: cover;
    margin-bottom: 30px;
}
.hero-scene-content-autre{
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



// INFOS 

.infos i{
    font-size: 30px;
    color: $success;
}


// PREPARER VISITE
.row-prep-visite{
    padding: 0;
    margin: 0;
}

.prep-visite{
    max-width: 100%;
}

.prep-titre{
    display: flex;
    align-items: center;
}

.prep-titre i{
    font-size: 28px;
    margin-right: 20px;
}

.prep-titre h5{
    margin: 0 !important;
}

//liens en savoir plus
.col-prep a{
    color: #fff;
}


//horaire
.container-horaire{
    width: 60%;
    margin-left: 60px;
}
.row-hor{
    display: flex;
    justify-content: space-between;
    font-weight: 200;
    font-size: 16px;
}






// HABITATS

.col-habitats h4{
    margin-top: 15px;
}

//taille image
.habitats-img{
    height: 450px;
    width: 100%;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    border-radius: 30px;
}

.habitats-img-savane{
    background-image: url(/Media/lasavaneV2.jpg);
}
.habitats-img-jungle{
    background-image: url(/Media/lajungleV2.jpg);
}
.habitats-img-marais{
    background-image: url(/Media/oeil-crocodil.jpg);
}

/* HOVER EFFECT IMAGE HABITATS */
.habitats-img{
    position: relative;
    overflow: hidden;
}
.layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}
.layer:hover{
    background: rgba(0, 0, 0, 0.5);
}


/* ANIMATION DU TITRE SUR LES IMAGES */
.layer h3{
    width: 100%;
    font-weight: 100;
    color: #fff;
    font-size: 26px;
    bottom: 0;
    left: 70%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}
.layer:hover h3{
    bottom: 49%;
    opacity: 1;
}








// AVIS
.avis{
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.2), rgba(4, 9, 30, 0.2)), url(/Media/bg-avis.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: auto;
}

.container-avis{
    background-color: rgba($color: #fff, $alpha: 0.7);
    border-radius: 30px;
    margin: auto;
    position: relative;
    backdrop-filter: blur(10px);
}

.avis-box{
    width: 80%;
    margin: auto;    
}

//guillemets
.fa-quote-right, 
.fa-quote-left{
    font-size: 50px;
}
.fa-quote-right{
    position: absolute;
    bottom: 5%;
    right: 5%;
}
.fa-quote-left{
    position: absolute;
    top: 5%;
    left: 5%;
}





// CONTACT

.form-control{
    border: 1px solid #484C19;
}






// SERVICES 

.row-visite{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container-inifos-visite-guide{
    width: 50%;
}

.col-g-visite{
    display: flex;
    align-items: center;
}

.col-g-visite i{
    margin-right: 6px;

}

.col-g-visite p,
.col-d-visite p{
    margin: 0;
}

// RESTAURATION

.row-info-resto{
    width: 80%;
    
}

.col-info-resto p{
    margin: 0;
}

